################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Repository_Test/v15
/.vs/Repository_Test/DesignTimeBuild
/.vs/config
